<div>
	<img [src]="photo" alt="" />
</div>

<div class="button-container">
	<button
		class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
		type="button"
		(click)="changePhoto('increase')"
	>
		next
	</button>
	<button
		class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
		type="button"
		(click)="changePhoto('decrease')"
	>
		prev
	</button>
	<button
		class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
		type="button"
		(click)="changePhoto('slide')"
	>
		slide
	</button>
	<button
		class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
		type="button"
		(click)="changePhoto('stop')"
	>
		stop
	</button>
</div>
