<div class="flex gap-8 justify-center bg-indigo-300 rounded-lg p-4">
	<a
		class="link"
		[routerLinkActiveOptions]="{ exact: true }"
		routerLinkActive="active"
		routerLink="/"
		>Home</a
	>
	<a
		class="link"
		[routerLinkActiveOptions]="{ exact: true }"
		routerLinkActive="active"
		routerLink="/students"
		>Students</a
	>
	<a
		class="link"
		[routerLinkActiveOptions]="{ exact: true }"
		routerLinkActive="active"
		routerLink="/students/5"
		>Student Details</a
	>
	<a
		class="link"
		[routerLinkActiveOptions]="{ exact: true }"
		routerLinkActive="active"
		routerLink="/profile"
		>Profile</a
	>
	<a
		class="link"
		[routerLinkActiveOptions]="{ exact: true }"
		routerLinkActive="active"
		routerLink="/error"
		>Error</a
	>
</div>
